/* FLEXBOX CSS */
:root {
    --scale: 1; /* Change this variable to scale everything */
  }
  
  .flex-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    flex-wrap: wrap;
}
  
  .flex-container > div {
    background-color: rgba(198, 198, 198, 0.733);
    color: white;
    margin: calc(2px * var(--scale));
    text-align: center;
    align-self: center;
    min-height: calc(50px * var(--scale)); /* Set a min-height */
    min-width: calc(40px * var(--scale)); /* Set a min-width */
}

.heightsmL, .heightsmR {
    line-height: calc(50px * var(--scale));
    width: calc(60px * var(--scale));
    font-size: calc(150% * var(--scale));
    border-radius: calc(40% * var(--scale)) / calc(10% * var(--scale));
    background-color: rgba(240, 207, 136, 0.733) !important;
    min-height: calc(50px * var(--scale)); /* Ensure there is a minimum height */
    min-width: calc(40px * var(--scale)); /* Ensure there is a minimum width */
}
  
  .heightmd {
    line-height: calc(70px * var(--scale));
    width: calc(90px * var(--scale));
    font-size: calc(200% * var(--scale));
  }
  
  .heightlr {
    line-height: calc(80px * var(--scale));
    width: calc(90px * var(--scale));
    font-size: calc(300% * var(--scale));
  }
  
.left, .leftc, .centerl, .centerr, .rightc, .right {
  margin: 2px;
}
  
  /* EVERYTHING ELSE CSS */
  
  body {
    /*background-image: url('../media/extremebackground.png');*/
  }
  
  .left {
  }
  
  .leftc {
    border-radius: 5px;
  }
  
  .centerl {
    border-radius: 5px;
  }
  
  .centerr {
    border-radius: 5px;
  }
  
  .rightc {
    border-radius: 5px;
  }
  
  .right {
  }
  
  .hide {
    content-visibility: hidden !important;
  }

  input {
    background-color: rgba(198, 198, 198, 0.733);
    color: white;
    border: none;
    outline: none;
    text-align: center;
    margin-bottom: 10px; /* Adds a bottom margin to all inputs */
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    opacity: 1;
    margin: 0;
    align-self: left;
}

.SCOREbutton {
  background-color: #3e8e41;
  border: none;
  color: white;
  padding: 4px 4px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.2s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.SCOREbutton:hover {opacity: 1}
.SCOREbutton:active {
  background-color: #f4511e;

  /* Fonts */
  * {
    font-family: "NemesisGrantLocal";
  }
  @font-face {
    font-family: "NemesisGrantLocal";
    src: url("NemesisGrant.ttf");
  }
}